.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Header */
.navbar {
  width: 100%;
  height: 10%;
  background-color: rgb(82, 82, 122);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}
.links{
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.loggedContainer{
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}


/****************************************** Login Page ****************************************************************/

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
 
  justify-content: space-around;
  vertical-align: top;
}
.loginContainerRight{
  width: 100%;
  height: auto;
 
}
.logo{ 
  width: 300px;
  height: auto;

}
.loginContainerLeft{
  width: 100%;
  height: auto;

 
 
}

.loginCantainerLeft input,button
 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgb(82, 82, 122);
  margin: 10px;
}

.loginCantainerLeft button {
  margin-top: 15px;
  padding-top: 15px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
  text-align: center;
  align-items: center;
  
}
